<h1 class="mt-5">Таблица возвратов книг:</h1>

<% if @pending_returns.empty? %>
  <h1 class="mt-5">Нет актуальных возвратов!</h1>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Дата возврата</th>
      </tr>
    </thead>
    <tbody>
      <%= render @pending_returns %>
    </tbody>
  </table>
<% end %> 


 <%= link_to "Назад", books_path, class: "btn btn-primary mt-5" %>