<div class="d-flex flex-column">
  <h1 class="mb-5">Программа Специализированная библиотека</h1>

  <%= link_to "Книги", books_path, class: "btn btn-primary mb-3 custom-btn-width" %>
  <%= link_to "Библиотеки", libraries_path, class: "btn btn-primary mb-3 custom-btn-width" %>
  <%= link_to "Читатели", readers_path, class: "btn btn-primary mb-3 custom-btn-width" %>
</div>  